.card
{
   width: 300px;
   margin: 10px;
   box-sizing: border-box;
   box-shadow: 5px 5px 5px black;
   background-color: brown;
}

.img
{
    width: 100%;
}

.card-body
{
    padding: 5px;
    
}

.card-title
{
    text-align: center;
    font-size: 2rem;
}

.card-details
{
    line-height: 150%;
    text-align: justify;
}

.card:hover
{
    box-shadow: 5px 5px 5px blue;
}

.card-container
{
    box-sizing: border-box;
    display: flex;
    background-color: cadetblue;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}