#div1
{
    background-color: gray;
    float: left;
}

.div2
{
    background-color: aquamarine;
    float: right;
}
.clear-div
{
    clear: both;
}
.div3
{
    clear: both;
    background: chocolate;
}