.demo:hover
{
    background: gray;
    color: green;
    width: 600px;
}
.demo2 p:first-child
{
    background: black;
    color: white;
}
::selection
{
    background: black;
    color:brown
}
article::before,article::after
{
    content: '';
    width: 100%;
    height: 10px;
    background: black;
    display: inline-block;
}

