.div-1
{
    height: 250px;
    width: 180px;
    background-color: brown;
    position: absolute;
    z-index: -6;
}

.div-2
{
    height: 200px;
    width: 150px;
    background-color: rgb(85, 79, 79);
    position: absolute;
    z-index: -4;
}

.div-3
{
    height: 150px;
    width: 120px;
    background-color: rgb(15, 4, 4);
    position: absolute;
    z-index: 2;
}

.div-4
{
    height: 100px;
    width: 90px;
    background-color: rgb(226, 150, 150);
    position: absolute;
    z-index: 0;
}